@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
body{
    height: 100vh;
    position: relative;
}

header{
    position: fixed;
    top: 0;
}

.item-container{
    display: flex;
    width: 70%;
    height: 50vh;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgb(210, 210, 210);
    overflow: hidden;

    position: relative;
    top: 20vh;
}

.item-img{
    width: 45%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-img img{
    width: 100%;
    height: 100%;
}

.item-box{
    width: 55%;
    padding: 3rem 2rem; 
    position: relative;
}

.item-box h3{
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.item-box h3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background: rgb(117, 117, 117);
    left: 0;
    bottom: 0px;
}

.item-box h4{
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: rgb(106, 106, 106);
}

.no input{
    width: 50px;
}

.cart{
    position: relative;
    bottom: 3px;
}

.cart input{
    position: absolute;
    width: 150px;
    height: 34px;
    z-index: 3 !important;
    border-radius: 5px;
    background: rgb(255, 235, 124);
}

.cart i{
    position: relative;
    z-index: 5;
    pointer-events: none;
    padding-right: .5rem;
    left: 1rem;
    top: 0.25rem;
}

.cart span{
    position: relative;
    z-index: 5;
    pointer-events: none;
    left: 1rem;
    top: 0.25rem;
}

.item-footer{
    display: flex;
    position: absolute;
    bottom: 3rem;
    right: 5rem;
    gap: 2rem;
}